Form{
    width: 600px;
margin-left: 340px;
   
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px ;
    border: 2px solid ;
}
#text , #text2{
    color: red;
}
div{
    padding: 10px;
}
.border{
    font-weight: bold;
    font-size: 25px;
}
.box{
    border-radius: 10px;
    border: none;
    padding: 5px;
}