.maindiv{
background-image: url(img1/bgimg.jpg);
width: 100%;
}
form{
    margin-left: 32%;
    border-radius: 20px;
    padding: 25px;
    background: rgba(83, 60, 60, 0.6);
    width: 550px;
    height: auto;
    font-weight: bold ;
    color: aliceblue;
    background-size: cover;
}
button{
    font-weight: bold;
}